// @import "~bulma/sass/utilities/initial-variables"
// @import "~bulma/sass/utilities/derived-variables"
// @import "~bulma/sass/utilities/mixins"
@import "~bulma/sass/utilities/_all"
@import "~rfs/sass"

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900&display=swap')
$family-sans-serif: 'Muli', sans-serif
//font-family: $family-sans-serif

// Config vars
$kaldi-red: #FD461E
// $kaldi-red-invert: #fff
$purple: #952b85

$primary: $purple
// $primary-invert: $kaldi-red-invert
$secondary: rgba($purple,.5)

$custom-colors: ("secondary": ($secondary))  !default

$footer-background-color: $black-ter
// $link: $primary
$link-hover: $white

// NAV BAR
// $navbar-item-color: $primary
$navbar-height: 1rem

.navbar
  background-color: var(--navbar-bg)!important

  +mobile
    --navbar-bg: white!important

  +tablet
    //--navbar-bg: white!important
    --navbar-bg: #ffffffaa!important

  +desktop
    --navbar-bg: #952b8570!important
    //--navbar-bg: #ffffffaa!important

.navbar-menu
  background-color: var(--navbar-menu-bg)!important

  +mobile
    // --navbar-menu-bg: white!important
    --navbar-menu-bg: #ffffffee!important

  +tablet
    //--navbar-menu-bg: white!important
    --navbar-menu-bg: #ffffffee!important

  +desktop
    --navbar-menu-bg: #ffffff00!important

.navbar-item img
  +mobile
    max-height: 3.2rem !important

  +tablet
    max-height: 3.6rem !important

  +desktop
    max-height: 4rem !important

.navbar-item
  +mobile
    color: $primary !important

  +tablet
    color: white !important

  +desktop
    color: white !important

.navbar-dropdown .navbar-item
  color: $primary !important

.navbar-link
  +mobile
    color: $primary !important

  +tablet
    color: white !important

  +desktop
    color: white !important

.navbar-burger
  padding-right: 60px!important
  height: 2rem !important
  width: 2rem  !important

// main images etc

.Site
  display: flex
  min-height: 100vh
  flex-direction: column

.Site-content
  flex: 1
  +mobile
    padding-top: 80px!important

  +tablet
    //padding-top: 80px!important

  +desktop
    //padding-top: 80px!important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.pagination .navbar
  justify-content: center

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.card
  border-radius: 8px 8px 8px 8px

.card-header-title
  border-radius: 8px 8px 0px 0px
  background-color: $purple !important

h1
  // font-family: "Montserrat"
  font-family: "Muli" !important
  font-weight: 700 !important

h2
  font-size: 2rem!important
  // font-family: "Montserrat"
  font-family: "Muli"
  font-weight: 600 !important
  font-variant-caps: small-caps
  color: $primary

.react-player iframe
  height: 100% !important

.player-wrapper
  position: relative !important
  padding-top: 56.25% !important /* Player ratio: 100 / (1280 / 720) */

.react-player
  position: absolute!important
  top: 0!important
  left: 0!important

.react-player-fp
  +mobile
    width: 320px!important
    height: 180px !important

    // padding-top: 56.25% !important /* Player ratio: 100 / (1280 / 720) */

.footer-text
  p
    font-size: 0.9rem!important

.media-left img
  object-fit: cover
  width: 80px
  height: 80px

.is-text-overflow
  flex: 1!important
  overflow: hidden!important
  text-overflow: ellipsis!important
  white-space: nowrap!important
  display: block!important

.scaleup
  zoom: 1.0
  -moz-transform: scale(1.0)

.testimonial-card
  border-radius: 8px 8px 8px 8px

.blockquote
  padding-left: 60px!important
  p:first-child:before
    content: '\201C'
    color: #ffffff
    font-size: 4.5em
    font-family: serif
    font-weight: 700
    opacity: .2
    position: absolute
    top: 0.0em
    left: 0.0em
    text-shadow: none
    z-index: 100

.mainhero-wrapper
  display: flex
  flex-direction: column
  justify-content: center

  +mobile
    padding-left: 50px
    padding-right: 50px
    padding-top: 200px

  +tablet
    padding-left: 270px
    padding-right: 270px
    padding-top: 200px

  +desktop
    padding-left: 270px
    padding-right: 270px
    padding-top: 250px

.mainhero-inner

  +tablet
    padding-bottom: 70px

  +mobile
    padding-bottom: 70px

  +desktop
    padding-bottom: 100px

.front-page-text
  @include  font-size(2rem)
  text-align: center

  +desktop
    margin-left: 100px
    margin-right: 100px

  +mobile
    margin-left: 30px!important
    margin-right: 30px!important
    font-size: 1.2rem
    p
      padding-bottom: 5px
      padding-top: 10px

.showreel
  display: flex
  justify-content: center

.imagegrid
  display: flex
  +mobile
    height: 550px

  +mobile
    flex-direction: column

.imagegrid-item
  // background-color: yellow

  border: 2px solid goldenrod
  height: 250px
  +tablet
    flex: 1 10 10px
  +desktop
    flex: 1 10 50px
  &:hover
    flex-grow: 20
  +mobile
    flex: 1 10 20px

    transition: flex-grow 0.3s ease

  .item1
    background-image: url('/images/DustyMe.jpg')

.category-header
  padding-top: 24px
  padding-bottom: 0px
  padding-left: 24px
  padding-right: 24px

.category-title
  text-transform: uppercase
  font-size: 3rem !important
  +mobile
    font-size: 2rem !important
    text-align: center

.category-description
  font-size: 1.3rem

.category-image
  +mobile

// .directors-wrapper
//   margin: 70px
//   font-size: 1.5rem
//   &:hover > span
//     opacity: 0.5

// .directors-wrapper > span
//   &:hover
//     color: purple
//     font-weight: 700
//     opacity: 1

.directors-wrapper2
  display: grid
  padding-top: 30px
  padding-bottom: 30px

  +mobile
    grid-template-columns: auto auto
    padding-left: 30px
    font-weight: 700

  +tablet
    grid-template-columns: auto auto auto
    padding-left: 60px
    padding-right: 60px
    font-size: 1.5rem
    font-weight: 700

  +desktop
    grid-template-columns: auto auto auto

  +fullhd
    grid-template-columns: auto auto auto auto

.directors-name
  // margin: 15px
  margin-bottom: 10px

.frontpage-video
  background-color: #d5cfe1
  +desktop
    padding-top: 175px
  +mobile
    padding-top: 125px

.vimeo-wrapper
  +desktop
    width: 680px
    height: 400px
  +tablet
    width: 680px
    height: 400px
  +mobile
    width: 320px
    height: 188px

@import "~bulma"
